body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    background-image: url("C:\Users\simon\OneDrive - BBBaden\Bilder\5864400783_ea7dd6a880_b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 
}

header {
    background-color: #070707;
    color: #fff;
    text-align: center;
    padding: 20px;
}


.question-container {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: inline-block;
    text-align: left;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }